<template>
	<div id="TopBar">
		<div class="windowMenu" id="FileMenu">
			<button class="dropbtn">{{ $t("file") }}</button>
			<div class="dropdown-content">
				<a href="#" @click="$emit('Save')">{{ $t("save") }}</a>
				<a href="#" @click="quit">{{ $t("quit") }}</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	methods: {
		quit() {
			backend.Runtime.Quit();
		}
	}
};
</script>

<style scoped lang="sass">
#TopBar
  background-color: $p-dark
  height: 1.5em
  top: 0
  left: 0
  right: 0

.windowMenu
	float: left
	position: relative
	display: inline-block
	height: 100%
	.dropbtn
		height: 100%
		width: 100%
		padding: 0 $margin
		background-color: $p-color
		border: none
		cursor: pointer
	.dropdown-content
		display: none
		position: absolute
		background-color: $p-color
		border: $border
		z-index: 1
		a
			white-space: nowrap
			padding: 0 $margin
			text-decoration: none
			display: block
			&:hover
				background-color: $s-color

.windowMenu:hover
	.dropdown-content
		display: block

	.dropbtn
		background-color: $s-color
</style>
