<template>
	<div id="FileTree">
		<h1>Project</h1>
		<node path="." :depth="0" :preload="2"></node>
	</div>
</template>

<script>
import Node from "./Node.vue";

export default {
	data() {
		return {};
	},
	components: {
		Node
	}
};
</script>

<style scoped lang="sass">
#FileTree
	flex-basis: 20em
	flex-grow: 1
	background-color: $p-dark
	overflow-x: scroll

	h1
		text-align: center
</style>
