name<template>
	<div class="fileNode">
		<div class="fileName" :style="indent" @click="open">
			<md-folder-icon v-if="isDir" class="fileIcon" />
			{{ name }}
		</div>
		<node
			:style="childrenVisible"
			:path="child"
			:depth="depth + 1"
			:preload="newPreload"
			v-if="showChildren || preload > 0"
			v-bind:key="child"
			v-for="child in children"
		/>
	</div>
</template>

<script>
export default {
	name: "node",
	props: ["path", "depth", "preload"],

	data() {
		var vm = this;
		var isDir;
		var name;
		var children;
		var seperator;

		var fileInfo = {};

		const fail = cause => {
			console.error("Backend error: ", cause);
		};

		backend.LookupFilesystem(this.path).then(function success(info) {
			vm.isDir = info.IsDir;
			vm.name = info.Name;
			vm.children = info.Children;
		}, fail);

		return {
			name: name,
			children: children,
			isDir: isDir,
			newPreload: this.preload - 1,
			showChildren: false,
			explored: false
		};
	},
	computed: {
		indent() {
			return { transform: `translate(${this.depth * 30}px)` };
		},
		childrenVisible() {
			return {
				display: this.showChildren ? "block" : "none"
			};
		}
	},
	methods: {
		open() {
			if (this.isDir) {
				this.newPreload = 2;
				this.showChildren = !this.showChildren;
			} else {
				this.$bubble("open-file", this.path);
			}
		}
	}
};
</script>

<style scoped lang="sass">
.fileName
	align-items: center
	display: inline-block
	white-space: nowrap
	user-select: none

	.fileIcon
		display: inline-block
		vertical-align: middle
</style>
