<template>
	<div id="VBar"></div>
</template>

<script>
export default {
	name: "VBar"
};
</script>

<style scoped lang="sass">
#VBar
	height: 100%
	background-color: $s-color
	cursor: col-resize
</style>
