<template>
	<div id="Workspace" @mousemove="VBarDrag" @mouseup="sepDragging = false">
		<FileTree
			id="FileTree"
			v-bind:style="fileTreeStyle"
			@open-file="openFile"
		/>
		<VBar
			id="VBar"
			v-bind:style="VBarStyle"
			@mousedown.native="sepDragging = true"
		/>
		<Editor id="Editor" ref="Editor" v-bind:style="editorStyle" />
	</div>
</template>

<script>
import FileTree from "./FileTree/FileTree.vue";
import VBar from "./VBar.vue";
import Editor from "./Editor/Editor.vue";

export default {
	name: "Workspace",
	data() {
		return {
			sepPercent: 0.3,
			sepWidth: 0.008,
			sepDragging: false
		};
	},
	methods: {
		openFile(path) {
			this.$refs.Editor.openFile(path);
		},
		VBarDrag(evt) {
			if (this.sepDragging) {
				this.sepPercent = evt.clientX / window.innerWidth;
			}
		},
		activeFile() {
			return this.$refs.Editor.activeFile();
		},
		activeBuffer() {
			return this.$refs.Editor.activeBuffer();
		}
	},
	computed: {
		fileTreeStyle() {
			return { right: 100 - (this.sepPercent - this.sepWidth / 2) * 100 + "%" };
		},
		VBarStyle() {
			return {
				left: (this.sepPercent - this.sepWidth / 2) * 100 + "%",
				right: (this.sepPercent + this.sepWidth / 2) * 100 + "%",
				width: this.sepWidth * 100 + "%"
			};
		},
		editorStyle() {
			return { left: (this.sepPercent + this.sepWidth / 2) * 100 + "%" };
		}
	},
	components: {
		FileTree,
		VBar,
		Editor
	}
};
</script>

<style scoped lang="sass">
#Workspace
	position: relative
	height: 100%

	#FileTree
		position: absolute
		top: 0
		bottom: 0
		left: 0
	#VBar
		top: 0
		bottom: 0
		position: absolute
	#Editor
		top: 0
		bottom: 0
		right: 0
		position: absolute
</style>
