@import "./theme.sass"
@import "~vue-ionicons/ionicons.scss"

html
    height: 100%
    width: 100%
    overflow: hidden
    background-color: $p-dark
    background-size: 20px 20px

*
    font: $font
    color: $p-text-color


.logo
    width: 16em

body
    position: absolute
    margin: 0
    width: 100%
    height: 100%

@font-face
    font-family: "Roboto"
    font-style: normal
    font-weight: 400
    src: url("../fonts/roboto/roboto-v18-latin-regular.eot")
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg")
