<template>
	<div id="app">
		<TopBar @Save="saveFile" />
		<Workspace ref="Workspace" />
	</div>
</template>

<script>
import { Shortcuts } from "shortcuts";

import TopBar from "./components/TopBar/TopBar.vue";
import Workspace from "./components/Workspace/Workspace.vue";

var keyChain = [];
const shortcuts = new Shortcuts();

export default {
	name: "app",
	created() {
		const that = this;
		shortcuts.add([
			{
				shortcut: "Ctrl+s",
				handler() {
					that.saveFile();
				}
			}
		]);
		//Disable some browser shortcuts
		document.onkeydown = function(e) {
			//Disable save page shortcut
			if (e.key === "s" && e.ctrlKey) {
				return false;
			}
			return true;
		};
	},
	beforeDestroy() {
		shortcuts.reset();
	},

	methods: {
		saveFile() {
			const filename = this.$refs.Workspace.activeFile();
			const content = this.$refs.Workspace.activeBuffer();
			if (filename !== "") {
				backend.SaveFile(filename, content).catch(err => {
					console.error("ERROR: ", err);
				});
			}
		}
	},
	components: {
		TopBar,
		Workspace
	}
};
</script>

<style>
#app {
	width: 100%;
	height: 100%;
	margin: 0;
}
</style>
