//
 *Name:       material
 *Author:     Mattia Astorino (http://github.com/equinusocio)
 *Website:    https://material-theme.site/

.cm-s-material-darker
	&.CodeMirror
		background-color: #212121
		color: #EEFFFF

	.CodeMirror-gutters
		background: #212121
		color: #545454
		border: none

	.CodeMirror-guttermarker, .CodeMirror-guttermarker-subtle, .CodeMirror-linenumber
		color: #545454

	.CodeMirror-cursor
		border-left: 1px solid #FFCC00

	div.CodeMirror-selected, &.CodeMirror-focused div.CodeMirror-selected
		background: rgba(97, 97, 97, 0.2)

	.CodeMirror-line
		&::selection
			background: rgba(128, 203, 196, 0.2)

		> span
			&::selection, > span::selection
				background: rgba(128, 203, 196, 0.2)

		&::-moz-selection
			background: rgba(128, 203, 196, 0.2)

		> span
			&::-moz-selection, > span::-moz-selection
				background: rgba(128, 203, 196, 0.2)

	.CodeMirror-activeline-background
		background: rgba(0, 0, 0, 0.5)

	.cm-keyword
		color: #C792EA

	.cm-operator
		color: #89DDFF

	.cm-variable-2
		color: #EEFFFF

	.cm-variable-3, .cm-type
		color: #f07178

	.cm-builtin
		color: #FFCB6B

	.cm-atom
		color: #F78C6C

	.cm-number
		color: #FF5370

	.cm-def
		color: #82AAFF

	.cm-string
		color: #C3E88D

	.cm-string-2
		color: #f07178

	.cm-comment
		color: #545454

	.cm-variable
		color: #f07178

	.cm-tag
		color: #FF5370

	.cm-meta
		color: #FFCB6B

	.cm-attribute, .cm-property
		color: #C792EA

	.cm-qualifier, .cm-variable-3, .cm-type
		color: #DECB6B

	.cm-error
		color: rgba(255, 255, 255, 1)
		background-color: #FF5370

	.CodeMirror-matchingbracket
		text-decoration: underline
		color: white !important
