<template>
	<codemirror id="Editor" v-model="code" :options="cmOptions"></codemirror>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/mode/javascript/javascript.js";
import "codemirror/lib/codemirror.css";
import "../../../assets/themes/default.sass";

var fileOpen = "";

export default {
	data() {
		return {
			code: "",
			cmOptions: {
				theme: "material-darker",
				lineNumbers: true,
				mode: "text/javascript"
			}
		};
	},
	methods: {
		openFile(path) {
			const vm = this;
			const fail = cause => {
				console.error("Backend error: ", cause);
			};

			backend.OpenFile(path).then(function success(buffer) {
				fileOpen = path;
				vm.code = buffer;
			}, fail);
		},
		activeFile() {
			return fileOpen;
		},
		activeBuffer() {
			return this.code;
		}
	},
	components: {
		codemirror
	}
};
</script>

<style lang="sass">
#Editor
	flex-basis: 44em
	flex-shrink: 1
	background-color: $p-dark

.CodeMirror
	background-color: green
	height: 100%
</style>
